.Watch{
    background: #1a1a1a;
    height: 100vh;
    padding: 4rem 2rem;
}
.player_detail{
    color: white;
    justify-content: center;
}
.data_handle{
    margin-left:1rem;
    align-items:center;
    display:flex;
}
.like_comm{
    margin-left:auto;
     display:flex;
}
@media(max-width:991px){
.channel_stats{
flex-direction: column;
}
.like_comm{
    margin-left: initial;
    margin-top: 2rem;
}
.Watch{
    height: fit-content;
}
}